.app {
  background-color: rgb(59, 59, 99);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  height: 60%;
  width: 50%;
  background-color: aliceblue;
  display: flex;
  padding: 30px;
  align-items:center;
}
.form {

  width: 50%;
  background-color: white;
  height:100%;
}
.img {
  width: 45%;
  height: 80%;
}
